.container {
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.plus {
  position: relative;
  top: 50px;
  color: green;
}

.pointed:hover,
.pointed:focus {
  background-color: auto;
  text-decoration: none;
  cursor: pointer;
}

.container-beer-one {
  background-color: lightgoldenrodyellow;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.container-beer-two {
  background-color: skyblue;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.container-beer-three {
  background-color: lightseagreen;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.container-beer-four {
  background-color: lightsalmon;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.container-beer-five {
  background-color: lightpink;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
}

.container-hot {
  background-color: auto;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
  animation-name: hot;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes hot {
  from {background-color: auto;}
  to {background-color: rgb(228, 87, 87);}
}

.container-cold {
  background-color: auto;
  border: 5px solid gray;
  padding: 20px;
  text-align: center;
  height: 200px;
  animation-name: cold;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes cold {
  from {background-color: auto;}
  to {background-color: rgb(76, 105, 233);}
}