.beer-one {
  background-color: lightgoldenrodyellow;
  border:5px solid white;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}

.beer-two {
  background-color: skyblue;
  border:5px solid white;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}

.beer-three {
  background-color: lightseagreen;
  border:5px solid white;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}

.beer-four {
  background-color: lightsalmon;
  border:5px solid white;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}

.beer-five {
  background-color: lightpink;
  border:5px solid white;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}